/*------------------------------------*\
	#PRODUCT GRID
\*------------------------------------*/

.fake-product-grid, .product-grid{
	list-style: none;
}


.item{
	width: 100%;
	padding: 30px;
	position: relative;
}
.item img{
	display: block;
	width: 100%; height: auto;
	margin: 0 auto; padding-top: 30px;
}
.item a{
	display: block;
	text-decoration: none;
}


.ribbon{
	background: @highlight;
	position: absolute; top: @unidad; left: @unidad;
}


.items-data{
	text-align: center;
}

.items-name, .items-price{
	text-transform: uppercase;
}

.items-name{
	padding: @unidad;
	.font( 26px, 30px, 100 ); letter-spacing: 2px; color: @light;
}
.items-price{
	padding: (@unidad/2) 0;
	.font( 22px, 26px, 400 ); color: @dark;
}



/**
 * IF DISCOUNT
**/
.discount{
	.clearfix;

	.items-price, .items-discount{
		width: 50%;
		padding: (@unidad/2) 0;
		.font( 18px, 22px, 400, 'skolar' );
		background: @grey;
		float: left;
	}
	.items-price{
		color: lighten( @dark, 20%);
		text-decoration: line-through;
	}
	.items-discount{
		color: @dark;
	}

}





/*------------------------------------*\
    #SMALL
\*------------------------------------*/
@media (min-width: @small) {

	.product-grid{
		.clearfix;
	}

	.item{
		width: 50%;
		padding-right: 5px; padding-left: 5px;
		float: left;
	}
}





/*------------------------------------*\
    #MEDIUM
\*------------------------------------*/
@media (min-width: @medium) {

	.item{
		width: 33.333%;
	}
}





/*------------------------------------*\
    #LARGE
\*------------------------------------*/
@media (min-width: @large) {

	.item{
		width: 24.99999999%;
	}
}